{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        
        {% for user in users %}
        <dl>
            <dt>User ID: {{user.user_id}}</dt>
            <dd>First Name: {{user.first_name}}</dd>
            <dd>Last Name: {{user.last_name}}</dd>
            <dd>Email: {{user.email}}</dd>
            <dd>Previous Courses: {{user.previous_courses}}</dd>
            <dd>Education Level: {{user.education_level}}</dd>
            <dd>Grade: {{user.grade}}</dd>
            <dd>Score: {{user.score}}</dd>
        </dl>
        {% else %}
            <h3>No users yet!</h3>
        {% endfor %}

    </div>
</div>
{% endblock %}
